
:root {
  /* Change this to change the appearance of the hexaons */
  --hex-width: 75px; 
  --hex-between: 10px;
  
  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: all .2s ease;
  
  /* Colors */
  --color-hex-default: #000000;
  --color-hex-hover:   #303030;
  --color-hex-empty: #FFFFFF;
  --color-hex-hover-empty: #FFFFFF;
}

/* Hexagons */
.hexagon-container {
  display: grid;
  
  /* nombre de colonnes */ 
  grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width);
  
  grid-auto-rows: calc(var(--hex-width) - 28.87px/2);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-bottom: var(--hex-border);
}
.hexagon {
  align-items: center;
  background-color: var(--color-hex-default);
  cursor: pointer;
  display: flex;
  fill: white;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
}

.hexagon::after,
.hexagon::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}
.hexagon::after {
  border-top: var(--hex-border) solid var(--color-hex-default);
  top: 100%;
  width: 0;
}
.hexagon::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default);
  bottom: 100%;
}
  
.hexagon:hover {
  background-color: var(--color-hex-hover);
}
.hexagon:hover::after,
.hexagon:hover::before {
  border-top-color: var(--color-hex-hover);
  border-bottom-color: var(--color-hex-hover);
  }
 
.hexagon:nth-child(18n + 10),
.hexagon:nth-child(18n + 11),
.hexagon:nth-child(18n + 12),
.hexagon:nth-child(18n + 13),
.hexagon:nth-child(18n + 14),
.hexagon:nth-child(18n + 15),
.hexagon:nth-child(18n + 16),
.hexagon:nth-child(18n + 17),
.hexagon:nth-child(18n + 18) {
  margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}


.hexagon > svg {
  height: 75%;
  transition: var(--hex-transition);
}

/* Colors */
.empty {
  background-color: var(--color-hex-empty);
}
.empty::after,
.empty::before {
  border-top-color: var(--color-hex-empty);
  border-bottom-color: var(--color-hex-empty);
}
.empty:hover {
  fill: var(--color-hex-hover-empty);
}
.hexagon:hover::after,
.hexagon:hover::before {
  border-top-color: var(--color-hex-hover-empty);
  border-bottom-color: var(--color-hex-hover-empty);
}



.ballB, .ballW {
  z-index: 1;
  position: absolute;
  background-color: #00FF00;
  margin: 20px auto;
  width: 55px;
  height: 55px;
  border-radius: 200px;
}
.ballB {
  background-color: #00FF00;
}
.ballW {
  background-color: #0000FF;
}